@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --font-kumbh: 'Kumbh Sans', sans-serif;

    --color-dark-cyan: hsl(185, 75%, 39%);
    --color-desaturated-blue: hsl(229, 23%, 23%);
    --color-gray-blue: hsl(227, 10%, 46%);
    --color-dark-gray: hsl(0, 0%, 59%);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-kumbh);
    background-color: var(--color-dark-cyan);
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}

main {
    max-height: 600px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    border-radius: 1em;
    overflow: hidden;
}

#top-card {
    background-image: url('./images/bg-pattern-card.svg');
    height: 150px;
    width: 100%;
}

#top-card img {
    position: relative;
    left: 50%;
    top:60%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 100%);
}

#info, #metrics {
    background: white;
}

#info {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: var(--color-dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 140px;
    padding-block: 1.5em;
}

#info>p:first-child {
    font-size: 18px;
}

#info p {
    margin-top: 0.8em;
}

span {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-desaturated-blue);
}

hr {
    width: 100%;
    height: 0.5px;
    border: none;
    background-color: var(--color-dark-gray);
}

#metrics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-block: 2em;
}

.metric {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.metric p {
    font-size: 12px;
    color: var(--color-dark-gray);
    margin: 0.25em;
    letter-spacing: 2px;
}